<?xml version="1.0" encoding="utf-8" ?> 

<configuration> 
	<connectionStrings>	
		<add name="DatabaseConnectionString" connectionString="Data Source= JUDYS;Initial Catalog = transportation; Integrated Security = True;TrustServerCertificate=True" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>